@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&display=swap');

:root {
    --primary: rgba(235, 235, 235, 0.848);
    --textfoot: rgba(255, 255, 255, 0.9);
    --secondary: #0e9ac4;
    --text: #1d1d1d;
    --sectionbg: #81b6c5b4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 8px;
}

html {
    font-family: Montserrat;
    font-size: 18px;
}

.top-section-index {
    background: linear-gradient(#020202c8, #0e0e0eba);
    width: 100%;
    height: 100vh;
}

.video-index {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    position: absolute;
    z-index: -1;
}

.banner {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 35px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin-top: -6%;
    margin-left: -15%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: -10px 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li.active a {
    color: var(--secondary) !important;
    font-weight: bolder;
}

.navbar ul li:hover a {
    color: var(--sectionbg);
}

.intro-content {
    padding-top: 22vh;
    padding-left: 8%;
    margin-left: -40px;
    margin-top: -120px;
    color: var(--primary);
}

.intro-content h1 {
    font-size: 3.8rem;
    margin-bottom: 10px;
    font-family: Kanit;
}

.logo-intro {
    margin-left: -40px;
    max-height: 150px;
}

.intro-btn {
    display: none;
    background-color: #ffffff3d;
    margin-top: 15px;
    padding: 12px 10px;
    margin-right: 15px;
    border-radius: 4px;
    border: 2px solid #ffffff86;
    text-decoration: none !important;

    backdrop-filter: blur(5px);
    color: var(--primary);
    transition: 0.5s;
}

.intro-btn:hover {
    filter: opacity(0.85);
    color: var(--secondary);
}

.sub-menu {
    display: none;
    position: relative;
}

.sub-menu ul {
    position: absolute;
}

.navbar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    margin-left: -10px;
}

.navbar ul li:hover .sub-menu ul {
    display: block;
    margin: 6px;
}

.navbar ul li:hover .sub-menu ul li {
    width: 100%;
    padding: 10px 5px 20px 5px;
    transition: 0.4 ease;
    text-align: left;
    line-height: 90%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    right: 3px;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: var(--sectionbg);
    color: var(--textfoot);
}

.text_footer {
    font-size: 25px;
}

.texte_footer {
    font-size: 22px;
}

.disclaimer_footer {
    font-size: 15px;
}

.texte_footer a {
    color: var(--textfoot) !important;
    text-decoration: none !important;
}

.logo_footer {
    height: 80px;
    margin-top: -15px;
}

.facebook {
    height: 55px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.hamburger {
    color: var(--primary);
    font-size: 1.7rem;
    cursor: pointer;
    display: none !important;
}


/*Loading Screen*/
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-screen p {
    font-size: 24px;
    font-weight: bold;
}

.pl {
    width: 6em;
    height: 6em;
}

.pl__ring {
    -webkit-animation: ringA 2s linear infinite;
    animation: ringA 2s linear infinite;
}

.pl__ring--a {
    stroke: #f42f25;
}

.pl__ring--b {
    -webkit-animation-name: ringB;
    animation-name: ringB;
    stroke: #f49725;
}

.pl__ring--c {
    -webkit-animation-name: ringC;
    animation-name: ringC;
    stroke: #255ff4;
}

.pl__ring--d {
    -webkit-animation-name: ringD;
    animation-name: ringD;
    stroke: #f42582;
}

/* Animații */
@-webkit-keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@-webkit-keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@-webkit-keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@-webkit-keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@media screen and (max-width: 1300px) {

    main section {
        padding-left: 10%;
        padding-right: 10%;
    }

    .navbar ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {

    .navbar {
        width: 100%;
        background: linear-gradient(var(--primary), var(--sectionbg));
        padding: 15px;
        height: 8vh;
    }

    .navbar a {
        display: none;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        right: 25px;
        color: var(--text);
    }

    .navbar.mobile {
        float: none;
        display: flex;
        position: relative;
        background: linear-gradient(var(--primary), var(--sectionbg));
        align-items: flex-start !important;
        justify-content: center !important;
        padding: 12px;
        height: auto;
    }

    .navbar.mobile a {
        float: none;
        display: flex;
        align-items: center !important;
        padding: 10px 140px;
        margin-top: 20px;
        font-size: 22px;
        color: var(--text);
    }

    .logo {
        display: block !important;
        width: 100px !important;
        margin-top: 2vh;
        margin-left: 2vh;
        height: auto;
    }

    .navbar.mobile .logo {
        display: block;
        width: 150px;
        margin-top: -2vh !important;
        margin-left: -20vh !important;
    }

    .navbar.mobile ul li {
        margin: -10px 0px;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 25px;
        right: 25px;
        color: var(--text);
    }

    .fa-caret-down {
        display: none;
    }

    .navbar ul li:hover .sub-menu ul li a {
        font-size: 0px !important;
    }

    .logo-intro {
        margin-top: -3%
    }

    .intro-content {
        margin-top: 0;
        margin-left: 0;
    }

}

@media screen and (max-width: 912px) {

    .navbar {
        height: 7vh;
    }

    .logo-a {
        display: block !important;
    }

    .logo {
        width: 165px !important;
        margin-top: 0vh;
        margin-left: 0vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 26px;
        right: 25px;
        color: var(--text);
        font-size: 2.3rem;
    }

    .navbar.mobile ul li {
        margin: -10px 16px;
    }

    .navbar.mobile a {
        padding: 5px 102px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 165px !important;
        margin-top: -2vh !important;
        margin-left: -8vh !important;
    }

    .logo-intro {
        max-height: 220px;
        margin-top: -5%
    }

    .intro-content h1 {
        font-size: 0rem;
    }

    .intro-content h2 {
        font-size: 45px !important;
        margin-bottom: 22px;
        margin-top: 22px;
    }

    .intro-btn {
        display: inline-block;
        padding: 15px 12px;
        margin-right: 30px;
        font-size: 30px;
    }

}

@media screen and (max-width: 820px) {

    .navbar {
        height: 7vh;
    }

    .logo-a {
        display: block !important;
    }

    .logo {
        width: 150px !important;
        margin-top: 0vh;
        margin-left: -1vh;
    }
    
    .hamburger {
        top: 25px;
        right: 25px;
        font-size: 40px;
    }

    .navbar.mobile ul li {
        margin: -5px 0px;
    }

    .navbar.mobile a {
        padding: 5px 93px;
        font-size: 22px;
        margin-left: 0;
    }

    .navbar.mobile .logo {
        display: block;
        width: 150px;
        margin-top: -2vh !important;
        margin-left: -8vh !important;
    }

    .logo-intro {
        max-height: 235px;
    }

    .intro-content h1 {
        font-size: 0rem;
    }

    .intro-content h2 {
        font-size: 45px !important;
        margin-bottom: 22px;
        margin-top: 22px;
    }

    .intro-btn {
        padding: 13px 10px;
        margin-right: 25px;
        font-size: 26px;
    }

    .text_footer {
        font-size: 30px;
    }

    .logo_footer {
        height: 90px;
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .texte_footer {
        font-size: 28px;
        line-height: 125%;
    }

}

@media screen and (max-width: 800px) {
    
    .logo-a {
        display: block !important;
    }

    .logo {
        width: 150px !important;
        margin-top: 0vh;
        margin-left: -1vh;
    }
    
    .hamburger {
        top: 25px;
        right: 25px;
        font-size: 40px;
    }

    .navbar.mobile ul li {
        margin: -5px 28px;
    }

    .navbar.mobile a {
        padding: 5px 83px;
        font-size: 22px;
        margin-left: 0;
    }

    .navbar.mobile .logo {
        display: block !important;
        width: 150px !important;
        margin-top: -2vh !important;
        margin-left: -7.5vh !important;
    }

}

@media screen and (max-width: 768px) {

    html {
        font-size: 16px;
    }

    main section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo-a {
        display: block !important;
    }

    .logo {
        width: 150px !important;
        margin-top: 0vh;
        margin-left: -1.5vh;
    }

    .hamburger {
        top: 21px;
        right: 21px;
        font-size: 2.2rem;
    }

    /* .navbar.mobile {
        float: none;
        display: flex;
        background: linear-gradient(var(--primary), var(--sectionbg));
        align-items: flex-start !important;
        justify-content: center !important;
    } */

    .navbar.mobile a {
        /* padding: 10px 200px; */
        /* margin-top: 20px; */
        font-size: 22px;
        margin-left: -12%;
    }

    .navbar.mobile .logo {
        display: block !important;
        width: 150px !important;
        margin-top: -2vh !important;
        margin-left: 0vh !important;
    }

    .logo-intro {
        max-height: 190px;
    }

    .intro-content h2 {
        font-size: 35px !important;
        margin-bottom: 20px;
    }

    .text_footer {
        font-size: 30px;
    }

    .texte_footer {
        font-size: 25px;
    }

}

@media screen and (max-width: 712px) {

    .navbar {
        height: 7vh;
    }

    .logo-a {
        display: block !important;
    }

    .logo {
        width: 150px !important;
        margin-top: 0vh;
        margin-left: -1vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 24px;
        right: 25px;
        color: var(--text);
        font-size: 35px;
    }

    .navbar.mobile ul li {
        margin: -10px 0px;
    }

    .navbar.mobile a {
        padding: 5px 78px;
        font-size: 22px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 150px;
        margin-top: -2vh !important;
        margin-left: -8vh !important;
    }

    .logo-intro {
        max-height: 220px;
    }

    .intro-content h2 {
        font-size: 40px !important;
        margin-bottom: 20px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 25px;
        font-size: 22px;
    }

    .text_footer {
        font-size: 23px;
    }

    .texte_footer {
        font-size: 20px;
        line-height: 120%;
    }

}

@media screen and (max-width: 640px) {

    .navbar {
        height: 16vh;
    }

    .logo {
        width: 130px !important;
        margin-top: 0vh;
        margin-left: -5vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 17px;
        right: 25px;
        color: var(--text);
        font-size: 28px;
    }

    .navbar.mobile ul li {
        margin: -10px 30px;
    }

    .navbar.mobile a {
        padding: 5px 49px;
        font-size: 22px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 130px !important;
        margin-top: -8vh !important;
        margin-left: -18vh !important;
    }

    .logo-intro {
        max-height: 120px;
    }

    /* .intro-content {
        margin-top: 0px;
        margin-left: 0px;
    } */


    .intro-content h2 {
        font-size: 25px !important;
        margin-bottom: 5px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 12px;
        font-size: 18px;
    }

    .text_footer {
        font-size: 23px;
    }

    .texte_footer {
        font-size: 20px;
        line-height: 120%;
    }

}

@media screen and (max-width: 601px) {

    main section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar {
        height: 8vh;
    }

    .logo-a {
        display: block !important;
    }
    
    .logo {
        display: block !important;
        width: 150px !important;
        margin-top: 0vh;
        margin-left: -1vh;
        height: auto;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 25px;
        color: var(--text);
        font-size: 33px;
    }

    .navbar.mobile ul li {
        margin: -10px 0px;
    }

    .navbar.mobile a {
        padding: 5px 60px;
        font-size: 22px;
        margin-left: -2%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 150px !important;
        margin-top: -3vh !important;
        margin-left: -6vh !important;
        height: auto;
    }

    .logo-intro {
        max-height: 185px;
    }

    .intro-content h2 {
        font-size: 31px !important;
        margin-bottom: 15px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 20px;
        font-size: 20px;
    }

    .text_footer {
        font-size: 23px;
    }

    .texte_footer {
        font-size: 20px;
        line-height: 120%;
    }

}

@media screen and (max-width: 541px) {

    .logo {
        width: 120px !important;
        margin-left: -2vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 16px;
        color: var(--text);
        font-size: 2rem;
    }

    .navbar.mobile a {
        padding: 5px 70px;
        margin-left: -14%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 120px !important;
        margin-top: -3vh !important;
        margin-left: -2vh !important;
        height: auto;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 16px;
        right: 17px;
        color: var(--text);
    }

    .logo-intro {
        max-height: 155px;
    }

    .intro-content h2 {
        font-size: 30px !important;
        margin-bottom: 15px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 15px;
        font-size: 20px;
    }

    .text_footer {
        font-size: 23px;
    }

    .texte_footer {
        font-size: 20px;
        line-height: 120%;
    }

}

@media screen and (max-width: 480px) {

    .logo {
        width: 120px !important;
        margin-left: -2vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        color: var(--text);
        font-size: 2rem;
    }

    .navbar.mobile a {
        padding: 5px 36px;
        font-size: 17px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 120px !important;
        margin-top: -3vh !important;
        margin-left: -5.5vh !important;
        height: auto;
    }

    .logo-intro {
        max-height: 175px;
    }

    /* .intro-content {
        margin-top: -90px;
        margin-left: 0;
    } */

    .intro-content h2 {
        font-size: 29px !important;
        margin-bottom: 15px;
    }

    .intro-btn {
        padding: 13px 10px;
        margin-right: 20px;
        font-size: 20px;
    }

    .text_footer {
        font-size: 23px;
    }

    .texte_footer {
        font-size: 20px;
        line-height: 120%;
    }

}

@media screen and (max-width: 431px) {

    .navbar {
        height: 7vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 17px;
        color: var(--text);
        font-size: 2rem;
    }

    .navbar.mobile a {
        padding: 5px 32px;
        /* margin-top: 22px; */
        font-size: 17px;
        margin-left: -5%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 120px !important;
        margin-top: -3vh !important;
        margin-left: -3vh !important;
        height: auto;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--text);
        font-size: 1.75rem;
    }

    .logo-intro {
        max-height: 175px;
    }

    /* .intro-content {
        margin-top: -90px;
        margin-left: 0;
    } */

    .intro-content h2 {
        font-size: 27px !important;
        margin-bottom: 15px;
    }

    .intro-btn {
        padding: 13px 10px;
        margin-right: 15px;
        font-size: 18px;
    }

    .texte_footer {
        font-size: 19px;
        line-height: 130%;
    }

}

@media screen and (max-width: 415px) {

    .navbar {
        height: 8vh;
    }

    .logo {
        width: 115px !important;
        margin-top: 0vh;
        margin-left: -2vh;
    }

    .navbar.mobile a {
        padding: 5px 30px;
        margin-left: -5%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 115px !important;
        margin-top: -3vh !important;
        margin-left: -3vh !important;
        height: auto;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--text);
        font-size: 2rem;
    }

    .logo-intro {
        max-height: 150px;
    }

    /* .intro-content {
        margin-top: -90px;
        margin-left: 0;
    } */

    .intro-content h2 {
        font-size: 25px !important;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 13px;
        font-size: 19px;
    }

    .text_footer {
        font-size: 23px;
    }

    .logo_footer {
        height: 75px;
        margin-top: -15px;
        margin-bottom: 5px;
    }

    .texte_footer {
        font-size: 18px;
        line-height: 130%;
    }

}

@media screen and (max-width: 412px) {

    .navbar {
        height: 7vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--text);
        font-size: 1.9rem;
    }

    .navbar.mobile ul li {
        margin: -10px -35px;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        font-size: 1.9rem;
        top: 19px;
        right: 19px;
        color: var(--text);
    }

    .navbar.mobile a {
        padding: 5px 51px;
        margin-left: -6%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 115px !important;
        margin-top: -3vh !important;
        margin-left: -4vh !important;
        height: auto;
    }

}

@media screen and (max-width: 394px) {

    .logo {
        margin-top: 0vh;
        margin-left: -2vh;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 18px;
        right: 20px;
        color: var(--text);
        font-size: 1.8rem;
    }

    .navbar.mobile a {
        padding: 5px 47px;
        margin-left: -9%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 115px !important;
        margin-top: -4vh !important;
        margin-left: -3vh !important;
        height: auto;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        font-size: 1.8rem;
        top: 19px;
        right: 19px;
        color: var(--text);
    }

    .logo-intro {
        max-height: 145px;
    }

    .intro-content h2 {
        font-size: 23px !important;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 8px;
        font-size: 17px;
    }

    .text_footer {
        font-size: 21px;
    }

    .logo_footer {
        height: 67px;
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .texte_footer {
        font-size: 17px;
        line-height: 130%;
    }

}

@media screen and (max-width: 384px) {

    .navbar {
        height: 8vh;
    }

    .logo {
        display: block !important;
        width: 100px !important;
        margin-top: 0vh;
        margin-left: -2vh;
        height: auto;
    }

    .hamburger {
        font-size: 1.43rem;
        top: 16px;
        right: 14px;
    }

    .navbar.mobile ul li {
        margin: -10px 20px;
    }

    .navbar.mobile a {
        padding: 5px 17px;
        font-size: 17px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        width: 100px !important;
        margin-top: -5vh !important;
        margin-left: -5vh !important;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 15px;
        right: 14px;
        color: var(--text);
    }

    .logo-intro {
        max-height: 140px;
    }

    .intro-content h2 {
        font-size: 24px !important;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 8px;
        font-size: 17px;
    }

    .text_footer {
        font-size: 20px;
    }

    .logo_footer {
        height: 70px;
        margin-top: -15px;
        margin-bottom: 0px;
    }

    .texte_footer {
        font-size: 17px;
        line-height: 130%;
    }

}

@media screen and (max-width: 360px) {

    .navbar {
        height: 8vh;
    }

    .logo {
        display: block !important;
        width: 100px !important;
        margin-top: 0vh;
        margin-left: -2vh;
        height: auto;
    }

    .hamburger {
        font-size: 1.5rem;
        top: 15px;
        right: 14px;
    }

    .navbar.mobile ul li {
        margin: -10px 5px;
    }

    .navbar.mobile a {
        padding: 5px 22px;
        font-size: 17px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 100px !important;
        margin-top: -4vh !important;
        margin-left: -5vh !important;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 15px;
        right: 14px;
        color: var(--text);
        font-size: 1.5rem;
    }

    .logo-intro {
        max-height: 120px;
    }

    .intro-content h2 {
        font-size: 20px !important;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .intro-btn {
        padding: 10px 8px;
        margin-right: 7px;
        font-size: 15px;
    }

    .text_footer {
        font-size: 21px;
    }

    .logo_footer {
        height: 65px;
        margin-top: -8px;
    }

    .texte_footer {
        font-size: 16px;
        line-height: 120%;
    }

}

@media screen and (max-width: 354px) {

    .navbar {
        height: 7vh;
    }

    .hamburger {
        font-size: 1.5rem;
        top: 15px;
        right: 14px;
    }

    .navbar.mobile .logo {
        display: block;
        width: 100px !important;
        margin-top: -4vh !important;
        margin-left: -5vh !important;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 15px;
        right: 14px;
        color: var(--text);
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 320px) {

    .navbar {
        padding: 12px;
        height: 8vh;
    }

    .logo {
        display: block !important;
        width: 90px !important;
        margin-top: 0vh;
        margin-left: -2vh;
        height: auto;
    }

    .hamburger {
        font-size: 1.3rem;
        top: 12px;
        right: 12px;
    }

    .navbar.mobile ul li {
        margin: -10px 0px;
    }

    .navbar.mobile a {
        padding: 5px 15px;
        font-size: 15px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 90px !important;
        margin-top: -5vh !important;
        margin-left: -4vh !important;
    }

    .logo-intro {
        max-height: 120px;
    }

    .intro-content h2 {
        font-size: 14px !important;
        margin-bottom: 5px;
    }

    .intro-btn {
        padding: 9px 7px;
        margin-right: 5px;
    }

    .texte_footer {
        font-size: 15px;
    }

    .disclaimer_footer {
        font-size: 12px;
    }

    .text_footer {
        font-size: 18px;
    }

}

@media screen and (max-width: 280px) {

    .navbar {
        padding: 12px;
        height: 7vh;
    }

    .logo {
        width: 75px !important;
        margin-left: -2vh;
    }

    .navbar.mobile a {
        padding: 5px 17px;
        font-size: 13px;
        margin-left: -6%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 75px !important;
        margin-top: -5vh !important;
        margin-left: -2vh !important;
    }

    .logo-intro {
        max-height: 100px;
    }

    .intro-content h2 {
        font-size: 14px !important;
        margin-bottom: 10px;
    }

    .texte_footer {
        font-size: 10px;
    }

    .intro-btn {
        padding: 7px 5px;
        margin-right: 8px;
        font-size: 10px;
    }

    .disclaimer_footer {
        font-size: 12px;
    }

    .text_footer {
        font-size: 18px;
    }

}

@media screen and (max-width: 240px) {

    .navbar {
        padding: 12px;
        height: 12vh;
    }

    .logo {
        width: 65px !important;
        margin-left: -4vh;
    }

    .hamburger {
        font-size: 1.1rem;
        top: 12px;
        right: 12px;
    }

    .navbar.mobile ul li {
        margin: -15px 0px;
    }

    .navbar.mobile a {
        padding: 5px 6px;
        /* margin-top: 22px; */
        font-size: 13px;
        margin-left: 0%;
    }

    .navbar.mobile .logo {
        display: block;
        width: 65px !important;
        margin-top: -10vh !important;
        margin-left: -4vh !important;
    }

    .navbar.mobile .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 12px;
        right: 12px;
        color: var(--text);
        font-size: 1.1rem;
    }

    .logo-intro {
        max-height: 100px;
        margin-left: -11%;
    }

    .intro-content h2 {
        font-size: 14px !important;
        margin-bottom: 10px;
        margin-top: -6px;
    }

    .intro-btn {
        padding: 7px 5px;
        margin-right: 8px;
        font-size: 10px;
        margin-top: 7px;
    }

}